.height{
    min-height: 68.6vh;
    width: 100%;
    /* border: 1px solid red; */
}
.register{
    /* border: 1px solid red; */
    width: 100%;
}
.my-class{
    /* border: 1px solid red; */
    width: 50%;
    margin: 0 auto;

}
@media screen and (max-width: 576px){
    .height{
        /* width: 300px; */
        /* height: 300px; */

    }
    .my-class{
        width: 100%;
    }
    .register {
        width: 100%;
    }
}